@using System.Configuration
@using Model.EF
@model List<OnlineShopv2.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="/assets/client/js/controller/cartController.js"></script>
}
<div class="content">
    <div class="section group">
        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Mã SP</td>
                        <td>Tên SP</td>
                        <td>Ảnh SP</td>
                        <td>Số lượng</td>
                        <td>Đơn giá</td>
                        <td>Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Product.ID</td>
                            <td>@item.Product.Name</td>
                            <td><img src="@item.Product.Image" width="100" /></td>
                            <td><input type="text" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity" /></td>
                            <td>@item.Product.Price.GetValueOrDefault(0).ToString("N0")</td>
                            <td>@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                            <td><a href="#" data-id="@item.Product.ID" class="btn-delete"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    }

                </tbody>
            </table>
            <button id="btnContinue" class="btn btn-warning">Tiếp tục mua sắm</button>
            <button id="btnUpdate" class="btn btn-info">Cập nhật giỏ hàng</button>
            <button id="btnDeleteAll" class="btn btn-danger">Xóa giỏ hàng</button>
            <button id="btnPayment" class="btn btn-success">Gửi đơn hàng</button>
                    @*//test
                    <div>
                        <form action="@ConfigurationManager.AppSettings["urlSubmitPayment"]">
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="upload" value="1" />
                            <input type="hidden" name="return" value="@ConfigurationManager.AppSettings["urlReturn"]" />
                            <input type="hidden" name="business" value="@ConfigurationManager.AppSettings["accountBusiness"]" />
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <input type="hidden" name="@Url.Content("item_name_"+(i+1))" value="@Model[i].Product.Name" />
                                <input type="hidden" name="@Url.Content("item_number_"+(i+1))" value="@Model[i].Product.ID" />
                                <input type="hidden" name="@Url.Content("amount_"+(i+1))" value="@Model[i].Product.Price" />
                                <input type="hidden" name="@Url.Content("quantity_" + (i + 1))" value="@Model[i].Product.Quality" />
                            }
                            <br />
                            <div class="col-md-12">
                                <input type="submit" value="Thanh toán với PayPal " class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
            //<button class="btn btn-primary">@Html.ActionLink("Paypal Payment", "PaypalPayment", new { controller = "Cart" }, new { @class = "" })</button>
            @*using (Html.BeginForm("PaypalPayment", "Cart"))
                {
                    <input type='image' name='submit'
                           src='https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif' />
                }
            
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="3EMGV7G4VJWEJ">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>*@
            //end
        }
        else
        {
            <span class="alert-info">Giỏ hàng của bạn rỗng kìa MUA GÌ ĐI THÔI !!</span>
        }
    </div>
</div>
